<hr>

<footer>
  <p>
    This page is built using the beautiful <a href="https://owickstrom.github.io/the-monospace-web"><strong>Monospace Web</strong></a> by <a href="https://wickstrom.tech"><strong>Oskar Wickström</strong></a>. ♥
    <br>
    Find the source code for this page on: <a href="https://github.com/marc1404/vornetran.de/blob/main/index.html">github.com/marc1404/vornetran.de</a>
  </p>

  <p>
    <a href="https://ec.europa.eu/stories/slava-ukraini/index_en.html"><strong>Слава Україні</strong></a>
  </p>
</footer>

<script src="/monospace/src/index.js"></script>
