div.box-container {
  overflow-x: scroll;
}
div.box-container > div.box {
  display: inline-block;
  min-width: 100%;
  white-space: nowrap;
  border: var(--border-thickness) solid var(--text-color);
  padding:
    calc(var(--line-height) / 2 - var(--border-thickness))
    calc(1ch - var(--border-thickness));
  font-size: 16px;
  font-weight: normal;
  background: var(--background-color);
  color: var(--text-color);
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
