<!doctype html>
<html lang="en">
<head>
  {{> header title="Marc Vornetran – Finance"}}
</head>
<body>

{{> navigation finance=true }}

<main>
  <h2>Finance</h2>

  <p>
    My recommendations for managing your personal finances.
    <br>
    Most of them are primarily applicable for Germany.
  </p>

  <section>
    <h3>
      Resources
    </h3>

    <ul>
      <li>
        <a href="https://www.finanzfluss.de">Finanzfluss</a>
      </li>
      <li>
        <a href="https://www.finanztip.de">Finanztip</a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Apps</h3>

    <ul>
      <li>
        <a href="https://www.finanzfluss.de/copilot">Finanzfluss Copilot</a>
      </li>
      <li>
        <a href="https://finanzguru.de">Finanzguru</a>
      </li>
      <li>
        <a href="https://revolut.com/referral/?referral-code=marcsarh!AUG1-25-AR-H3-GPC&geo-redirect">Revolut</a><sup>¹</sup>
      </li>
      <li>
        <a href="https://wise.com/invite/ihpc/marcv225">Wise</a><sup>¹</sup>
      </li>
    </ul>
  </section>

  <section>
    <h3>Credit Cards</h3>

    <ul>
      <li>
        <a href="https://www.banknorwegian.de/kreditkarte">Bank Norwegian Visa</a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Insurance</h3>

    <ul>
      <li>
        <a href="https://www.hellogetsafe.com/de-de/referral?n=Marc&r=RV9R-HVYW&s=1&utm_source=RV9R-HVYW">Getsafe</a><sup>¹</sup>
      </li>
    </ul>
  </section>

  <section>
    <h3>Investing</h3>

    <ul>
      <li>
        <a href="https://www.finvesto.de/sparen-anlegen/vermoegenswirksame-leistungen">Finvesto VL</a>
      </li>
      <li>
        <a href="https://invite.kraken.com/JDNW/5k83vgey">Kraken</a><sup>¹</sup>
      </li>
      <li>
        <a href="https://www.liqid.de/loesungen/private-equity/nxt">LIQID Private Equity NXT</a>
      </li>
      <li>
        <a href="https://refnocode.trade.re/h7kjbm3d">Trade Republic</a><sup>¹</sup>
      </li>
    </ul>
  </section>

  <section>
    <h4>Footnotes</h4>
    <em><sup>¹</sup> affiliate link</em>
  </section>
</main>

{{> footer page="finance"}}

</body>
</html>
