<!doctype html>
<html lang="en">
<head>
  {{> header title="Marc Vornetran – Finance"}}
  <link rel="stylesheet" href="/styles/finance.css">
</head>
<body>

{{> navigation finance=true }}

<main>
  <h2>Finance</h2>

  <p>
    My recommendations for managing your personal finances.
    <br>
    Most of them are primarily applicable for Germany.
  </p>

  <section>
    <h3>Disclaimer</h3>

    <p>
      <em>The resources listed on this page are for personal reference only and do not constitute financial advice.</em>
    </p>
  </section>

  <section>
    <h3>
      Resources
    </h3>

    <ul>
      <li>
        <a href="https://www.finanzfluss.de">Finanzfluss</a>
      </li>
      <li>
        <a href="https://www.finanztip.de">Finanztip</a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Apps</h3>

    <ul>
      <li>
        <a href="https://www.finanzfluss.de/copilot">Finanzfluss Copilot</a>
      </li>
      <li>
        <a href="https://finanzguru.de">Finanzguru</a>
      </li>
      <li>
        <a href="https://revolut.com/referral/?referral-code=marcsarh!AUG1-25-AR-H3-GPC&geo-redirect">Revolut</a><sup>¹</sup>
      </li>
      <li>
        <a href="https://wise.com/invite/ihpc/marcv225">Wise</a><sup>¹</sup>
      </li>
    </ul>
  </section>

  <section>
    <h3>Credit Cards</h3>

    <ul>
      <li>
        <a href="https://www.banknorwegian.de/kreditkarte">Bank Norwegian Visa</a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Insurance</h3>

    <ul>
      <li>
        <a href="https://www.hellogetsafe.com/de-de/referral?n=Marc&r=RV9R-HVYW&s=1&utm_source=RV9R-HVYW">Getsafe</a><sup>¹</sup>
      </li>
    </ul>
  </section>

  <section>
    <h3>Investing</h3>

    <ul>
      <li>
        <a href="https://www.finvesto.de/sparen-anlegen/vermoegenswirksame-leistungen">Finvesto VL</a>
      </li>
      <li>
        <a href="https://invite.kraken.com/JDNW/5k83vgey">Kraken</a><sup>¹</sup>
      </li>
      <li>
        <a href="https://www.liqid.de/loesungen/private-equity/nxt">LIQID Private Equity NXT</a>
      </li>
      <li>
        <a href="https://refnocode.trade.re/h7kjbm3d">Trade Republic</a><sup>¹</sup>
      </li>
    </ul>
  </section>

  <section>
    <h4>
      <abbr title="Exchange Traded Funds">ETFs</abbr>
    </h4>

    <p>
      All entries are <abbr title="Undertakings for Collective Investments in Transferable Securities">UCITS</abbr> <abbr title="Exchange Traded Funds">ETFs</abbr> with accumulating distribution policies.
    </p>

    <details>
      <summary> Abbreviations &amp; Acronyms</summary>
      <dl>
        <dt>ACWI</dt>
        <dd>All Country World Index</dd>

        <dt>ESG</dt>
        <dd>Environmental, Social and Governance</dd>

        <dt>ETF</dt>
        <dd>Exchange Traded Fund</dd>

        <dt>FTSE</dt>
        <dd>
          <a href="https://www.lseg.com/en/ftse-russell">Financial Times Stock Exchange</a> -> Index provider
        </dd>

        <dt>IMI</dt>
        <dd>Investable Market Index</dd>

        <dt>ISIN</dt>
        <dd>
          <a href="https://www.isin.org/">International Securities Identification Number</a>
        </dd>

        <dt>MSCI</dt>
        <dd>
          <a href="https://www.msci.com/">Morgan Stanley Capital International</a> -> Index provider
        </dd>

        <dt>SRI</dt>
        <dd>Socially Responsible Investment</dd>

        <dt>p.a.</dt>
        <dd>Per annum ~= per year</dd>

        <dt>TER</dt>
        <dd>Total Expense Ratio</dd>

        <dt>TD</dt>
        <dd>Tracking Difference</dd>

        <dt>UCITS</dt>
        <dd>
          <a href="https://finance.ec.europa.eu/regulation-and-supervision/financial-services-legislation/implementing-and-delegated-acts/undertakings-collective-investment-transferable-securities-directive_en">Undertakings for Collective Investments in Transferable Securities</a>
        </dd>
      </dl>
    </details>

    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th>
            <abbr title="International Securities Identification Number">ISIN</abbr>
          </th>
          <th>Name</th>
          <th>
            <abbr title="Total Expense Ratio (per annum)">TER</abbr>
          </th>
          <th>
            <abbr title="Tracking Difference (average)">TD</abbr>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4">
            <strong>
              <abbr title="Environmental, Social and Governance">ESG</abbr>/<abbr title="Socially Responsible Investment">SRI</abbr> Global
            </strong>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE00BNG8L278">IE00BNG8L278</a>
          </td>
          <td>
            Vanguard <abbr title="Environmental, Social and Governance">ESG</abbr> Global All Cap
          </td>
          <td>0.24%</td>
          <td>0.48%</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE000JTPK610">IE000JTPK610</a>
          </td>
          <td>
            iShares <abbr title="Morgan Stanley Capital International">MSCI</abbr> <abbr title="All Country World Index">ACWI</abbr> <abbr title="Socially Responsible Investment">SRI</abbr>
          </td>
          <td>0.20%</td>
          <td>
            <em>
              <abbr title="Not available">n.a.</abbr>
            </em>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <strong>Global</strong>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE00BK5BQT80">IE00BK5BQT80</a>
          </td>
          <td>
            Vanguard <abbr title="Financial Times Stock Exchange">FTSE</abbr> All-World
          </td>
          <td>0.22%</td>
          <td>0.02%</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE00B6R52259">IE00B6R52259</a>
          </td>
          <td>
            iShares <abbr title="Morgan Stanley Capital International">MSCI</abbr> <abbr title="All County World Index">ACWI</abbr>
          </td>
          <td>0.20%</td>
          <td>0.17%</td>
        </tr>
        <tr>
          <td colspan="4">
            <strong>Developed Countries</strong>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE00BK5BQV03">IE00BK5BQV03</a>
          </td>
          <td>
            Vanguard <abbr title="Financial Times Stock Exchange">FTSE</abbr> Developed World
          </td>
          <td>0.12%</td>
          <td>-0.14%</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE00B4L5Y983">IE00B4L5Y983</a>
          </td>
          <td>
            iShares Core <abbr title="Morgan Stanley Capital International">MSCI</abbr> World
          </td>
          <td>0.20%</td>
          <td>0.03%</td>
        </tr>
        <tr>
          <td colspan="4">
            <strong>Emerging Markets</strong>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE00BK5BR733">IE00BK5BR733</a>
          </td>
          <td>
            Vanguard <abbr title="Financial Times Stock Exchange">FTSE</abbr> Emerging Markets
          </td>
          <td>0.22%</td>
          <td>0.44%</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.justetf.com/en/etf-profile.html?isin=IE00BKM4GZ66">IE00BKM4GZ66</a>
          </td>
          <td>
            iShares Core <abbr title="Morgan Stanley Capital International">MSCI</abbr> Emerging Markets <abbr title="Investable Market Index">IMI</abbr>
          </td>
          <td>0.18%</td>
          <td>0.06%</td>
        </tr>
        </tbody>
      </table>
    </div>

    <em>Last update: <time datetime="2025-08-12" title="12ᵗʰ of August 2025">2025-08-12</time></em>
  </section>

  <section>
    <h4>Footnotes</h4>
    <em><sup>¹</sup> affiliate link</em>
  </section>
</main>

{{> footer page="finance"}}

</body>
</html>
