<!doctype html>
<html lang="en">
<head>
  {{> header title="Marc Vornetran – macOS"}}
</head>
<body>

{{> navigation macos=true }}

<main>
  <h3>
    macOS
  </h3>

  <p>Some applications that I like to use on macOS:</p>

  <ul>
    <li>
      <a href="https://one.one.one.one">1.1.1.1</a>
      &mdash; <abbr title="Domain Name System">DNS</abbr> and <abbr title="Virtual Private Network">VPN</abbr> by Cloudflare.
    </li>
    <li>
      <a href="https://1password.com/downloads/mac">1Password</a>
      &mdash; Password manager.
    </li>
    <li>
      <a href="https://alt-tab-macos.netlify.app">AltTab</a>
      &mdash; Windows-style alt+tab for macOS.
    </li>
    <li>
      <a href="https://apps.apple.com/de/app/amphetamine/id937984704?l=en-GB&mt=12">Amphetamine</a>
      &mdash; Keep your Mac awake.
    </li>
    <li>
      <a href="https://www.usebruno.com">Bruno</a>
      &mdash; <abbr title="Application Programming Interface">API</abbr> client.
    </li>
    <li>
      <a href="https://chatgpt.com/download">ChatGPT</a>
      &mdash; <abbr title="Large Language Model">LLM</abbr> at your fingertips.
    </li>
    <li>
      <a href="https://www.docker.com/products/docker-desktop">Docker</a>
      &mdash; Container runtime and management.
    </li>
    <li>
      <a href="https://ghostty.org">Ghostty</a>
      &mdash; Terminal emulator with native <abbr title="User Interface">UI</abbr> and <abbr title="Graphics Processing Unit">GPU</abbr> acceleration.
    </li>
    <li>
      <a href="https://www.grammarly.com/desktop">Grammarly</a>
      &mdash; Writing assistance.
    </li>
    <li>
      <a href="https://brew.sh">Homebrew</a>
      &mdash; The missing package manager for macOS.
    </li>
    <li>
      <a href="https://www.jetbrains.com/toolbox-app">JetBrains Toolbox</a>
      &mdash; <abbr title="Integrated Development Environment">IDE</abbr> management.
    </li>
    <li>
      <a href="https://maccy.app">Maccy</a>
      &mdash; Clipboard history.
    </li>
    <li>
      <a href="https://numi.app">Numi</a>
      &mdash; Beautiful calculator.
    </li>
    <li>
      <a href="https://obsidian.md/download">Obsidian</a>
      &mdash; Markdown note-taking.
    </li>
    <li>
      <a href="https://rectangleapp.com">Rectangle</a>
      &mdash; Windows-style window management for macOS.
    </li>
    <li>
      <a href="https://kyome.io/runcat/index.html?lang=en">RunCat</a>
      &mdash; A cat in the menubar visualizing <abbr title="Central Processing Unit">CPU</abbr> usage.
    </li>
    <li>
      <a href="https://transmissionbt.com">Transmission</a>
      &mdash; Minimal torrent client.
    </li>
    <li>
      <a href="https://sindresorhus.com/velja">Velja</a>
      &mdash; Dynamic browser picker.
    </li>
    <li>
      <a href="https://www.videolan.org">VLC</a>
      &mdash; Plays any video file.
    </li>
  </ul>
</main>

{{> footer}}

</body>
</html>
