<!doctype html>
<html lang="en">
<head>
  {{> header title="Marc Vornetran – macOS"}}
  <link rel="stylesheet" href="/styles/macos.css">
</head>
<body>

{{> navigation macos=true }}

<main>
  <h2 class="has-no-text-transform">macOS</h2>

  <section>
    <p>Some applications that I like to use on macOS:</p>

    <ul>
      <li>
        <a href="https://one.one.one.one">1.1.1.1</a>
        &mdash; <abbr title="Domain Name System">DNS</abbr> and <abbr title="Virtual Private Network">VPN</abbr> by Cloudflare.
      </li>
      <li>
        <a href="https://1password.com/downloads/mac">1Password</a>
        &mdash; Password manager.
      </li>
      <li>
        <a href="https://alt-tab-macos.netlify.app">AltTab</a>
        &mdash; Windows-style alt+tab for macOS.
      </li>
      <li>
        <a href="https://apps.apple.com/de/app/amphetamine/id937984704?l=en-GB&mt=12">Amphetamine</a>
        &mdash; Keep your Mac awake.
      </li>
      <li>
        <a href="https://www.usebruno.com">Bruno</a>
        &mdash; <abbr title="Application Programming Interface">API</abbr> client.
      </li>
      <li>
        <a href="https://www.docker.com/products/docker-desktop">Docker</a>
        &mdash; Container runtime and management.
      </li>
      <li>
        <a href="https://ghostty.org">Ghostty</a>
        &mdash; Terminal emulator with native <abbr title="User Interface">UI</abbr> and <abbr title="Graphics Processing Unit">GPU</abbr> acceleration.
      </li>
      <li>
        <a href="https://www.grammarly.com/desktop">Grammarly</a>
        &mdash; Writing assistance.
      </li>
      <li>
        <a href="https://www.jetbrains.com/toolbox-app">JetBrains Toolbox</a>
        &mdash; <abbr title="Integrated Development Environment">IDE</abbr> management.
      </li>
      <li>
        <a href="https://maccy.app">Maccy</a>
        &mdash; Clipboard history.
      </li>
      <li>
        <a href="https://numi.app">Numi</a>
        &mdash; Beautiful calculator.
      </li>
      <li>
        <a href="https://obsidian.md/download">Obsidian</a>
        &mdash; Markdown note-taking.
      </li>
      <li>
        <a href="https://rectangleapp.com">Rectangle</a>
        &mdash; Windows-style window management for macOS.
      </li>
      <li>
        <a href="https://kyome.io/runcat/index.html?lang=en">RunCat</a>
        &mdash; A cat in the menubar visualizing <abbr title="Central Processing Unit">CPU</abbr> usage.
      </li>
      <li>
        <a href="https://transmissionbt.com">Transmission</a>
        &mdash; Minimal torrent client.
      </li>
      <li>
        <a href="https://sindresorhus.com/velja">Velja</a>
        &mdash; Dynamic browser picker.
      </li>
      <li>
        <a href="https://www.videolan.org">VLC</a>
        &mdash; Plays any video file.
      </li>
    </ul>
  </section>

  <section>
    <h4>
      <abbr title="Command Line Interface">CLI</abbr>
    </h4>

    <ul>
      <li>
        <a href="https://github.com/wagoodman/dive">dive</a>
        &mdash; Explore the layers of a Docker image.
      </li>
      <li>
        <a href="https://cli.github.com/">gh</a>
        &mdash; GitHub CLI for managing repositories and working with the <abbr title="Application Programming Interface">API</abbr>.
      </li>
      <li>
        <a href="https://brew.sh">brew</a>
        &mdash; Homebrew is the missing package manager for macOS.
      </li>
      <li>
        <a href="https://jqlang.org/">jq</a>
        &mdash; <abbr title="JavaScript Object Notation">JSON</abbr> processor.
      </li>
      <li>
        <a href="https://k9scli.io/">k9s</a>
        &mdash; Manage Kubernetes clusters.
      </li>
      <li>
        <a href="https://kubecolor.github.io/">kubecolor</a>
        &mdash; Colorful output for <code>kubectl</code>.
      </li>
      <li>
        <a href="https://github.com/ahmetb/kubectx/">kubectx</a>
        &mdash; Quickly switch between Kubernetes clusters and namespaces.
      </li>
      <li>
        <a href="https://mikefarah.gitbook.io/yq/">yq</a>
        &mdash; <abbr title="YAML Ain't Markup Language">YAML</abbr> processor.
      </li>
    </ul>
  </section>

  <section>
    <h4>Shell</h4>

    <p>
      I use the default Z shell (Zsh) in terminals without any frameworks.
    </p>

    <ul>
      <li>
        <a href="https://junegunn.github.io/fzf/">fzf</a>
        &mdash; Fuzzy finder.
      </li>
      <li>
        <a href="https://github.com/jonmosco/kube-ps1">kube-ps1</a>
        &mdash; Kubernetes info for the shell prompt.
      </li>
      <li>
        <a href="https://github.com/sindresorhus/pure">pure</a>
        &mdash; Pretty and minimal prompt.
      </li>
      <li>
        <a href="https://github.com/zsh-users/zsh-autosuggestions">zsh-autosuggestions</a>
        &mdash; Suggests commands based on history and completions.
      </li>
      <li>
        <a href="https://github.com/simnalamburt/zsh-expand-all">zsh-expand-all</a>
        &mdash; Automatically expands aliases.
      </li>
      <li>
        <a href="https://github.com/zsh-users/zsh-syntax-highlighting">zsh-syntax-highlighting</a>
        &mdash; Syntax highlighting.
      </li>
    </ul>
  </section>

  <section>
    <h4>Setup</h4>

    <p>
      The following steps are used for new macOS installations.
    </p>

    <h5>Hide the last login message in terminals</h5>

    <div class="box">
      touch ~/.hushlogin
    </div>

    <h5>Override &amp; update inbuilt defaults</h5>

    <div class="box">
      brew install curl git nano python vim
    </div>

    <h5>Show hidden files &amp; filename extensions</h5>

    <div class="box">
      defaults write com.apple.finder AppleShowAllFiles TRUE
      <br>
      defaults write NSGlobalDomain AppleShowAllExtensions TRUE
      <br>
      killall Finder
    </div>

    <h5>Prevent Apple Music from launching accidentally</h5>

    <div class="box">
      launchctl unload -w /System/Library/LaunchAgents/com.apple.rcd.plist
    </div>

    <h5>Squeeze menubar icons</h5>

    <p>
      Adjust the values for spacing and selection padding as you prefer.
    </p>

    <div class="box">
      defaults -currentHost write -globalDomain NSStatusItemSpacing -int 6
      <br>
      defaults -currentHost write -globalDomain NSStatusItemSelectionPadding -int 12
    </div>

    <p>
      The changes can be reverted.
    </p>

    <div class="box">
      defaults -currentHost delete -globalDomain NSStatusItemSelectionPadding
      <br>
      defaults -currentHost delete -globalDomain NSStatusItemSpacing
    </div>

    <p>
      After changing the spacing, you may need to log out and back in.
    </p>

  </section>

</main>

{{> footer page="macos"}}

</body>
</html>
